runtime/
__pycache__/
python27/
catalog.json
dist/
*.zip
*.dmg
*.exe
*.dll
*.ccp
client/
ClientSDE/
ClientCodeGrabber/
ResFiles/
*.pyc
*.pyo
trinity-*.stdout.txt
trinity-*.stderr.txt
trinity-runtime-probe.txt
